html,
body {
    font-size: 10px;
}

body {
    background: $color-white;
    @include font-default(400, 10);
}

h4,
h5,
p,
h3 {
    a {
        color: $color-darkblue !important;
    }
}

p {
    a {
        text-decoration: underline;
    }
}

a {
    @include easing-ease(200ms);
    &:hover {
        text-decoration: none !important;
    }
}

.text-underline {
    text-decoration: underline !important;
}

.online-process {
    .navigation {
        height:100vh;
        padding:20px;
        border-right:2px $color-darkblue solid;
        li {
            @include font-default(400, 20);
            cursor: pointer;
            display:block;
            padding-bottom:60px;
            position:relative;
            &:before {
                content:'';
                position:absolute;
                left:0;
                bottom:40px;
                width:0;
                height:2px;
                background-color:$color-darkblue;
                @include easing-linear(.6s);
            }
            &:hover, &.active {
                color:$color-darkblue;
                &:before {
                    width:100%;
                }
            }
        }
    }
}