@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

@mixin font-default($weight, $font) {
    @include font-size($font);
    font-family: "Montserrat", sans-serif;
    font-weight: $weight;
}

@mixin font-size($font-size) {
    $rem: ($font-size/10);
    font-size:#{$rem}rem;
}

@mixin easing-linear($time) {
    -webkit-transition: all $time cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all $time cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all $time cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all $time cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

@mixin easing-ease($time) {
    -webkit-transition: all $time cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -moz-transition: all $time cubic-bezier(0.250, 0.100, 0.250, 1.000);
    -o-transition: all $time cubic-bezier(0.250, 0.100, 0.250, 1.000);
    transition: all $time cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

@mixin transition-delay($count, $inc: .1s) {
    @for $i from 1 through $count {
        &:nth-child(#{$i}) {
            transition-delay: $i * $inc;
        }
    }
}

@mixin vertical-align($param: 'relative') {
    position: $param;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin horizantal-align($param: 'relative') {
    position: $param;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -sand-transform: $transform;
    transform: $transform;
}

@mixin animate-none {
    webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@mixin placeholder($color, $font) {
    &::-webkit-input-placeholder {
        @include font-default(400);
        font-size: $font;
        color: $color;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    &:-moz-placeholder {
        @include font-default(400);
        font-size: $font;
        color: $color;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    &::-moz-placeholder {
        @include font-default(400);
        font-size: $font;
        color: $color;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    &:-ms-input-placeholder {
        @include font-default(400);
        font-size: $font;
        color: $color;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}

@mixin border-radius-bottom($size) {
    -webkit-border-bottom-right-radius: $size;
    -webkit-border-bottom-left-radius: $size;
    -moz-border-radius-bottomright: $size;
    -moz-border-radius-bottomleft: $size;
    border-bottom-right-radius: $size;
    border-bottom-left-radius: $size;
}

@mixin border-radius-top($size) {
    -webkit-border-top-left-radius: $size;
    -webkit-border-top-right-radius: $size;
    -moz-border-radius-topleft: $size;
    -moz-border-radius-topright: $size;
    border-top-left-radius: $size;
    border-top-right-radius: $size;
}

@mixin border-radius-left($size) {
    -webkit-border-top-left-radius: $size;
    -webkit-border-bottom-left-radius: $size;
    -moz-border-radius-topleft: $size;
    -moz-border-radius-bottomleft: $size;
    border-top-left-radius: $size;
    border-bottom-left-radius: $size;
}

@mixin border-radius-right($size) {
    -webkit-border-top-right-radius: $size;
    -webkit-border-bottom-right-radius: $size;
    -moz-border-radius-topright: $size;
    -moz-border-radius-bottomright: $size;
    border-top-right-radius: $size;
    border-bottom-right-radius: $size;
}

@mixin box-shadow-none {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

@mixin scroll-style {
     ::-webkit-scrollbar {
        width: 8px;
    }
     ::-webkit-scrollbar-track {
        width: 6px !important;
        background: transparent;
    }
     ::-webkit-scrollbar-thumb {
        @include border-radius(4px);
        background: #929292;
        width: 6px !important;
    }
}

@mixin icomoon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Media Queries
@mixin mobil-xxs {
    @media (max-width: 320px) {
        @content;
    }
}

@mixin mobil-xs {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin mobil {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet-mobil {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

@mixin desktop-tablet {
    @media (min-width: 768px) and (max-width: 1240px) {
        @content;
    }
}

@mixin medium-desktop {
    @media (min-width: 992px) and (max-width: 1240px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin max1200 {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}