$color-white:#fff;
$color-light-white:#f6f6f6;
$color-darkblue:#0d1f61;
$color-grey:#636363;
$color-black:#333333;
$color-red: #ff0000;
$color-green:#44cf70;
$color-read:#92d050;
$color-unread:#02aff0;
$color-tagged:#02aff0;
$color-archive:#c3c3c3;
$disabled-input: #f5f5f5;
$light-gray: #eaeaea;
$color-info: #2390D2;